[submodule "Assets/BG/EcoMine"]
	path = Assets/BG/EcoMine
	url = https://github.com/EcoTien/TweenAnimationSystem.git
[submodule "Assets/BG/BG-Library-NET"]
	path = Assets/BG/BG-Library-NET
	url = https://github.com/Blackgemsglobal/BG-Library-NET.git
[submodule "Assets/BG/BG-Library-Common"]
	path = Assets/BG/BG-Library-Common
	url = https://github.com/Blackgemsglobal/BG-Library-Common
[submodule "Assets/BG/BG-Library-In-app-review"]
	path = Assets/BG/BG-Library-In-app-review
	url = https://github.com/Blackgemsglobal/BG-Library-In-app-review.git
